@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Shadows+Into+Light&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  
}

body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.hero {
  display: flex;
  width: 100vw;
  height: 17em;
  background: url(./Images/herohjarta.jpg);
  background-size:cover;
  background-attachment:initial;
  background-position:center;
  position: relative;
  justify-content: center;
  align-items:  center;
} 

.headertext{
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 100%;
  align-items: center;
  
}

.hero-text3{
  color: white;
  font-size: 1em;
  font-family: 'Poiret One', cursive;
  padding-right: 135px;
  font-size: 17px;
  
}

.hero-text2{
  font-size: 32px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
  padding-right: 135px;
  padding-bottom: 25px;

}

.hero-text1{
  font-size: 4em;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
  padding-right: 135px;
  padding-top: 75px;

}

.textbox{
  Justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #2d3d21;
  width: 100%;

}

.box {
  padding: 20px;
  size: 12px;
}

p {
  font-size: 14px;
}

.invitation-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 40em;
  font-size: 14px;

}

.invitation-text1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  font-size: 16px;
  color: #a76368;
  margin-bottom: 10px;

}

.invitation-text2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  font-size: 16px;
}

.image-section {
  display: flex;
  flex-direction: column;
  
  }

  .image-section2 {
    display: flex;
    flex-direction: column;
    
    }
  
  .image1
   {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

  }
  
  .image2{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
  
  }
  
  .image3 {
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    /* height: 292px; */
  }

  .image4 {
    height: 320px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 254px; */
  }

  
.form-image-wrapper {
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #d1d5d6;
 
  }

.form-wrapper{
  padding: 10px; 
  border-radius: 4px;
  border: black solid 3px;
  max-width: 25rem;
  box-sizing: border-box;  
  margin-top: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  }

/* <!-- Accordion --> */

.accordion{
  padding: 10px;
  box-sizing: border-box;
}

.accordion-name{
  display: flex;
  padding:30px;
  width: 100%;
  justify-content: center;
  font-size: 30px;
  color: #2d3d21;
  font-family: 'Poiret One', cursive;
 }

.accordion .contentBx {
  position: relative;
}

.accordion .contentBx .label {
  position: relative;
  cursor: pointer;
}

 .label{ 
  padding-left:4rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
  color: #2d3d21;
  font-size: 20px;
   
  }

.accordion .contentBx .label::before{
  content: "+";
  position: absolute;
  right: 65px;
}

.accordion .contentBx.active .label::before{
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  color: #2d3d21;
  
}

.accordion .contentBx.active .content {
  height: 180px;
  padding: 8px;
  background-color: #d1d5d6;
  color: #2d3d21;
  padding-left: 1rem;
}

/* MEDIA QUERIES */

/* TABLET VERSION */

@media (min-width:667px) {
   
  .hero {
    display: flex;
    width: 100vw;
    height: 45vh;
    justify-content: center;
    align-items:  center;
  } 
  
  .headertext{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    align-items: center;
    
  }
  
  .hero-text3{
    font-size: 1em;
    padding-top: 12px;
    padding-right: 270px;
    font-size: 20px;
    
  }
  
  .hero-text2{
    font-size: 2em;
    font-weight: 300;
    padding-right: 270px;
  
  }
  
  .hero-text1{
    font-size: 4em;
    font-weight: 300;
    padding-right: 270px;
  
  }

  p {
    font-size: 17px;
  }

  .box {
      size: 14px;

      
    }

    .image-section {
      display: flex;
      flex-direction: column;
      
      }
    
      .image-section2 {
        display: flex;
        flex-direction: column;
        
        }


  /* .image3 {
      height: 585px;
    }

  .image4 {
      height: 585px;

  } */
    }

    


 @media (min-width: 992px) {
 
  
.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size:cover;
  background-attachment:initial;
  background-position:center;
  position: relative;
  justify-content: center;
  align-items:  center;
} 

.headertext{
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 100%;
  align-items: center;
  
}

.hero-text3{
  color: white;
  font-size: 1em;
  font-family: 'Poiret One', cursive;
  padding-top: 12px;
  padding-right: 500px;
  font-size: 20px;
  
}

.hero-text2{
  font-size: 3em;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
  padding-right: 500px;

}

.hero-text1{
  font-size: 5em;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
  padding-right: 500px;

}

.image-section {
display: flex;
justify-content: space-evenly;
flex-direction: row;


}

.image-section2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  
  }

.image1{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  height: 400px;
}

.image2{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  height: 400px;

}

.image3 {
  flex-direction: row;
  height: 400px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding: 20px;
  height: 400px;
}

.image4 {
  flex-direction: row;
  height: 400px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding: 20px;
  height: 400px;
}

h2 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 30px;
}

.textbox{
  Justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #2d3d21;
  width: 100%;
}

.box {
  padding: 30px;
  size: 12px;
}

p {
  font-size: 14px;
}

.invitation-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 40em;
  font-size: 14px;

}

.invitation-text1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  font-size: 16px;
  color: #a76368;
  margin-bottom: 10px;

}

.invitation-text2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  font-size: 16px;
}

.form-image-wrapper {
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #d1d5d6;
 
  }

.form-wrapper{
  padding: 10px; 
  border-radius: 4px;
  border: black solid 3px;
  max-width: 25rem;
  box-sizing: border-box;  
  margin-top: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  }

/* <!-- Accordion --> */

.accordion{
  padding: 10px;
  box-sizing: border-box;
}

.accordion-name{
  display: flex;
  padding:30px;
  width: 100%;
  justify-content: center;
  font-size: 30px;
  color: #2d3d21;
  font-family: 'Poiret One', cursive;
 }

.accordion .contentBx {
  position: relative;
}

.accordion .contentBx .label {
  position: relative;
  cursor: pointer;
}

 .label{ 

  padding-left:9rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
  color: #2d3d21;
  font-size: 20px;
   
  }

  

.accordion .contentBx .label::before{
  content: "+";
  position: absolute;
  right: 240px;
}

.accordion .contentBx.active .label::before{
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  color: #2d3d21;
  
}

.accordion .contentBx.active .content {
  height: 180px;
  padding: 8px;
  background-color: #d1d5d6;
  color: #2d3d21;
  padding-left: 9rem;
}
  }